*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", serif;
}
html,
body {
  height: 100%;
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
}

body {
  font-family: Arial, sans-serif; /* Default font-family */
  font-size: 1rem; /* Default font size, relative to the html font size */
  line-height: 1.5; /* Sets the line-height for readability */
  background-color: #fff; /* Default background color */
  color: #333; /* Default text color */
  height: 100%; /* Ensures the body takes full height */
  overflow-x: hidden; /* Prevents horizontal scrolling */
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
