h2{
    text-transform: none !important;
}

.login-register-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.form-container{
    display: flex;
    justify-content: center;
    width: 350px;
    height: 400px;
    padding: 60px 32px;
    background: rgba(255,255,255,0.04);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}
.form-container form{
    width: 100%;
    height: 100%;
}
.form-title{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.form-label{
    font-size: 20px;
}
.inputs-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.input-field input{
    width: 100%;
    border: none;
    padding: 10px 10px 10px 10px;
    border: 1px solid rgba(0,0,0,0.15);
}
.submit-button button{
    width: 100%;
    height: 45px;
}
.input-field textarea{
    width: 100%;
    height: 135px;
    resize: none;
}
.form-image-container{
    display: flex;
    justify-content: space-between;
}
.form-image{
    width: 300px;
    height: 300px;
}
.image-display{
    display: block;
    width: 300px;
    height: 300px;
}
.image-display img{
    width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: cover;
    
}
.inputs-next-to-image{
    width:450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}